<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            border:2px solid black;
            background-color: antiquewhite;
            margin:5px
        }
    </style>
</head>
<body>
    <h1>patient data profile</h1>
    <a href="/">back to home</a>
   <div class="container">
   <% allpatient.forEach((element)=>{ %>
      <h1> <%= element.name  %> </h1>
      <h1> <%= element.age  %> </h1>
      <h1> <%= element.disease %> </h1>
      <h1> <%= element.doctorname %> </h1>
      <h1> <%= element.fees %> </h1>

      <a href="/edit/<%=element._id %>"> id se edit</a>
      <a href="/delete/<%=element._id %>"> id se delete</a>

<hr>
   <% }) %>

   </div>
   </body>
</html>